:root {
	--bg-dark-color: #021117;
	--bg-dark-back-color: var(--bg-dark-color);
	--bg-dark-input-color: #7a7a7a26;
	--bg-dark-card-color: linear-gradient(193deg, rgb(19 32 38), transparent);
	--bg-light-color: linear-gradient(193deg, #00aa9f, #0fc9a0);
	--bg-light-back-color: #0fc2a0;
	--bg-light-input-color: #1d1d1d26;
	--bg-light-card-color: linear-gradient(193deg, rgba(0, 0, 0, 0.164), transparent);
}
